.card-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 20px;
}

.card-content-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    max-width: 1200px;
}

.card-col-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 75%;
    max-width: 75%;
}

.card-col-right {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 25%;
    background-color: rgba(0,0,0,.4);
    border: 3px solid rgba(255,255,255,.2);
    border-radius: 6px;
    height: auto;
}

.card-col-right p {
    font-size: 1.8rem;
    font-weight: 600;;
}

.card-col-right p h3 {
    margin-bottom: 5px;
}

.card-col-right p a {
    text-decoration: none;
    color: #ff0;
}

.card-col-right p a:hover {
    text-decoration: none;
    color: rgb(33, 195, 245);
}

.card-col-right p a:visited {
    text-decoration: none;
}

.card-img {
    display: flex;
    max-width: 860px;
    height: auto;
    border: 3px solid rgba(255,255,255,.2);
    border-radius: 6px;
}

.card-header-wrapper {
    display: flex;
    flex-direction: row;

}

.card-header {
    display: flex;
    flex-direction: row;

}

.card-header h2 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.card-footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.card-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-footer p {
    background-color: rgba(0,0,0,.6);
    border: 3px solid rgba(255,255,255,.2);
    border-radius: 6px;
    padding: 20px;
    text-align: left;
    font-size: 1.8rem;
}